header{
	height: 0px;
}
.corpo_login{
	background-color: #eeeeee;
	position: absolute;
	width: 400px;
}
.meio_login{
	margin: 6px;
	background-color: #f6f6f6;
	height: 179px;
}
.form_login{
	padding-top: 30px;
	padding-bottom: 30px;
}
.texto_login{
	text-align: left;
	margin-left: 51px;
}
.texto_login span{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.email_login{
	border: 1px solid #ddd;
    background: #fff url(img/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 264px;
    float: left;
    margin: 7px 10px 0 51px;
}
.senha_login{
	border: 1px solid #ddd;
    background: #fff url(img/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 264px;
    float: left;
    margin: 7px 10px 0 51px;
}
.botao_login {
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    width: 94px;
    height: 29px;
    cursor: pointer;
    border: none;
    background: url(img/button-submit.gif) no-repeat left top;
    margin-top: 12px;
}
.error_msg{
	margin-top: 7px;
}
.mensagem{
    width: 380px;
    text-align: center;
    font-size: 14px;
    color: red;
    font-family: Arial, sans-serif, Helvetica;
    font-weight: bold;
}
/*css placeholder*/
::-webkit-input-placeholder { font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 12px;}
::-moz-placeholder {  font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 12px;} /* firefox 19+ */
:-ms-input-placeholder {  font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 12px;} /* ie */
input:-moz-placeholder { font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 12px;}

footer{
	height: 0px;
}